<h1>Comments</h1>
<table>
	<thead>
		<tr>
			<th>Note</th>
			<th>Status</th>
			<th width="15%">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.note %></td>
				<td><%= comment.approved %></td>
				<td>
					<%= link_to "Approve", admin_comment_path(id: comment.id, comment: {approved: true}), method: :put %> / 
					<%= link_to "Disprove", admin_comment_path(id: comment.id, comment: {approved: false}), method: :put %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>