<%= form_for (@comment || commentable.comments.new) do |f| %>
	<div class="form-group">
		<%= f.text_area :note, class: "form-control" %>
		<%= f.hidden_field :user_id, value: current_user.try(:id) %>
		<%= f.hidden_field :commentable_type %>
		<%= f.hidden_field :commentable_id %>
	</div>
	<div class="form-group">
		<%= f.submit "ตกลง", class: "btn btn-default btn-lg" %>
	</div>
<% end %>