<br><br>
<h2>ความคิดเห็น</h2>
<ul class="media-list">
	<% @product.comments.approved.each do |comment| %>
		<li>
			<span class="navy bold"><%= comment.user.present? ? comment.user.name : "guest" %></span> <%= comment.note %>
			<%= link_to "ลบ", comment_path(comment), method: :delete if current_user == comment.user %>
		</li>
	<% end %>
</ul>
<br>
<%= render partial: "comments/form", locals: {commentable: @product} %>