<tr>
  <td width="5%"><%= image_tag item.variant.featured_image %></td>
  <td><%= link_to "#{item.variant.product.name} #{item.variant.name}", product_path(item.variant.product) %></td>
  <td><%= number_to_currency item.variant.sale_price %></td>
  <td><%= cart_items_form.number_field :quantity, style: "width: 50px", min: 1 %></td>
  <td>
    <%= link_to 'ลบ', shopping_cart_item_path(item, :variant_id => item.variant_id),
                              :method => :delete, :class            => 'btn btn-danger btn-lg' %>
  </td>
</tr>
