
<% content_for :head do -%>
  <%= stylesheet_link_tag 'shopping_cart_page.css' %>
<% end %>
<% if @cart_items.present? %>
  <%= form_for session_cart, url: shopping_cart_item_path(session_cart), :as => :cart do |cart_form| %>
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">สินค้า</th>
              <th style="width: 10%">ราคา</th>
              <th style="width: 10%">จำนวน</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <%= cart_form.fields_for :shopping_cart_items do |cart_items_form| %>
              <%= render partial: "cart_item", locals: {item: cart_items_form.object, cart_items_form: cart_items_form} %>
            <% end %>
            <tr>
              <td colspan="10" class="text-right">
                <%= cart_form.submit 'อัพเดท', :class => 'btn btn-success btn-lg' %>
                <%= button_tag "จ่ายเงิน", {value: "checkout", name: "commit", class: "btn btn-primary btn-lg"} %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  <% end %>
<% else %>
    <div class="col-xs-12">
      <strong>คุณยังไม่ได้เลือกสินค้าเลย</strong>
    </div>
<% end %>
