
  <address>
	  <strong><%= shopping_address.name %></strong><br>
		  <% shopping_address.address_lines_array.each do |line| %>
	    <%= line %><br/>
	  <% end %>
	  <%= shopping_address.city_state_zip %>, <%= shopping_address.country.name %>
	  <% if @buttom_group.present? %>
	    <div class="text-right">
	      <%= link_to 'เลือกที่อยู่นี้', select_address_shopping_address_path(shopping_address), :class => 'btn btn-default', :method => :put %>
	      <%= link_to 'แก้ไข', edit_shopping_address_path(shopping_address), class: 'btn btn-default' %>
	      <%= link_to 'ลบ', shopping_address_path(shopping_address), class: 'btn btn-danger', :data => {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    <% end %>
	</address>
