<div class="col-sm-4">
  &nbsp;
</div>
<div class="col-sm-4 text-center">
  <%= image_tag 'logos/logo.png', style: "max-width: 100%;" %>
</div>
<div class="col-sm-4 text-right hidden-xs">
  <div class="row">
    <%= form_tag products_path(), {class: "navbar-form", method: "get"} do %>
      <div class="form-group col-sm-9">
        <input type="text" name="q[description]" class="form-control" placeholder="ตัวอย่าง 'รองเท้า หนัง ผู้ชาย'">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-default">ค้นหา</button>
      </div>
    <% end %>
  </div>
</div>