<%= display_meta_tags :site => 'iknowdress' %>
<link rel="shortcut icon" href="<%= asset_path("favicon.ico")%>" />
<!-- <%= stylesheet_link_tag "normalize.css" %> -->
<!-- <%= stylesheet_link_tag "foundation_and_overrides.css" %> -->
<%= stylesheet_link_tag 'site/app.css' %>
<%= javascript_include_tag 'vendor/custom.modernizr' %>
  <!--[if lt IE 8]
<%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
<![endif]-->
<!--[if lt IE 7]
    <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
<![endif]-->
<%= csrf_meta_tag %>
<%= yield :head %>
<%= render 'shared/metadata' %>
<meta name="google-site-verification" content="IsCPn1jre74R7wydKltdtWP_FCBHEpMG-QSAg6Ed5zI" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63345629-1', 'auto');
  ga('send', 'pageview');

</script>