<% if current_user.present? %>
  <%= link_to like_items_path(product_id: product.id), method: :post, remote: true, class: current_user.like?(product) ? "heart active" : "heart" do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <% end %>
<% end %>