<div class="container-fluid" id='footer'>
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<ul>
						<h2>iknowdress.com</h2>
						<li><%= link_to "เงื่อนไข", "/term"%></li>
						<li><%= link_to "วิธีสั่งสินค้า", "/how-to-order"%></li>
					</ul>
				</div>
				<div class="col-sm-6 contact">
					<ul>
					<h2>ติดต่อเรา</h2>
						<li><%= mail_to("admin@iknowdress.com") %></li>
						<li><br></li>
						<li><%= link_to image_tag("facebook32.png"), "https://facebook.com/iknowdress" %> <%= link_to image_tag("instagram32.png"), "https://instagram.com/iknowdress" %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	#footer{
		margin-top: 45px;
		background: black;
		color: gainsboro;
	}
	#footer a{
		color: gainsboro;
	}
	#footer h2{
		color: gainsboro;
	}
	.contact{
		color: gainsboro;
	}
	#footer ul{
		padding: 0px;
	}
</style>