<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">หน้าแรก</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">สินค้าต่างๆ <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% product_types.each do |pt_tab| %>
              <li>
                <%= link_to pt_tab.name.capitalize, products_path(:product_type_id => pt_tab.id) %>
                  <% if pt_tab.present? %>
                    <ul class="dropdown-menu-child">
                    <% pt_tab.children.each do |ch_tab| %>
                      <li>
                        <%= link_to ch_tab.name.capitalize, products_path(:product_type_id => ch_tab.id) %>
                      </li>
                    <% end %>
                    </ul>
                  <% end %>
              </li>
            <%- end -%>
            <li class="divider"></li>
            <li>
              <%= link_to 'สินค้าทั้งหมด', products_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-  expanded="false">
              <%= "สินค้าที่คุณเลือก ( #{session_cart.shopping_cart_items.size} ) " %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if session_cart.shopping_cart_items.size > 0 %>
              <li>
              <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
                สินค้า
              <% end %>
              </li>
              <% session_cart.shopping_cart_items.each do |item| %>
                <li>
                  <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
                     <%= "#{item.variant.product.name} #{item.name}" %>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <li>
                <%= link_to( 'คุณยังไม่ได้เลือกสินค้าเลยยย', shopping_cart_items_path) %>
              </li>
            <% end %>
          </ul>
        </li>
        <% unless current_user %>
          <li><%= link_to 'เข้าสู่ระบบ',  login_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-  expanded="false">
              บัญชีของคุณ<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to 'Admin', admin_users_path %></li>
              <% end %>
              <li>
                <%= link_to myaccount_overview_path do %>
                  ลายละเอียดบัญชี
                <% end %>
              </li>
              <li><%= link_to 'สินค้าที่คุณชอบ', like_items_myaccount_overview_path %></li>
              <li><%= link_to 'ออกจากระบบ', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


