<div id='interesting_items' >
  <ul id='interesting_items-list'>
    <% products.each_with_index do |product, i| %>
      <li id='interesting_product_<%= i %>' class='interesting_product col-xs-12 col-sm-4 col-md-3'>
        <div class="row">
          <div class='interesting_items-image col-xs-12'>            <%= link_to product_path(product), title: product.name do %>              <div class='no-hover-show'>
                <div class='hover-details unfade'>
                  <p class='bottom-hover-details'>
                    \
                  </p>
                </div>
              </div>
              <%= link_to image_tag(product.featured_image(:medium)), product_path(product), title: product.name, class:  'img-responsive clearfix' %>
            <% end %>
          </div>          
          <div class='interesting_items-details col-xs-12'>
            <div class="info">
              <%= product.name %> /  <%= show_variant_price(product
            .active_variants.first) %>
            </div>
            <%= render partial: "shared/like_product", locals: {product: product} %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class='clearfix'></div>
</div>
<div class="col-xs-12 text-center">
  <%= will_paginate products %>
</div>
