  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
         <%= f.label :first_name %>
         <%= f.text_field :first_name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
    </div>
    <div class='clear'></div>
      <div class="twelve large-12 columns">
        <div class="field">
          <%= f.label :address1 %>
          <%= f.text_field :address1 %><br/>

          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </div>
      </div>

    <div class='clearfix'></div>
      <div class=" twelve large-12">
        <div class="field five columns">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>

      <% if Settings.require_state_in_address %>
        <div class="field four large-4 columns">
          <%= f.label    :state_id, "State/Province" %>
          <%= f.select   :state_id, @states,
                        :include_blank => true %>
        </div>
      <% elsif countries.size == 1 %>
        <div class="field column">
          <%= f.label :country_id, "Country" %>
          <%= countries.first.name %>
          <%= f.hidden_field   :country_id %>
        </div>
      <% else %>
        <div class="field column">
          <%= f.label    :country_id, "Country" %>
          <%= f.select   :country_id, select_countries,
                        :include_blank => true %>
        </div>
      <% end %>

        <div class="field two large-2 columns">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code %>
        </div>

<div class="field twelve large-12 column" style='margin-bottom:10px;'>
  <label for='address_default' class='ten large-10' style='margin-top:3px;display: inline-block;'>
    <%= f.check_box :default, :class => 'columns' %>
    Make this my default shipping address
  </label>
</div>

  <div class="actions twelve columns">
    <%= f.submit 'Submit', :class => 'small button' %>
  </div>
<div class='clearfix'></div>
