<div class="text-center">
	<h1>Discover</h1>
</div>
<% products = Product.all.sample(6) %>
<% products.each do |product|%>
	<div class="col-sm-4" style="margin-bottom: 30px;">
		<%= link_to image_tag(product.featured_image(:original), class:  'img-responsive'), product_path(product), title: product.name %>
	</div>
<% end %>