<div class="col-xs-12 page">
	<h1>วิธีการสั่งสินค้า</h1>
	<h2>ขั้นตอนที่ 1 - เลือกสินค้า</h2>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step1-1.png", class: "img-responsive")%></div>
		<div class="col-sm-6">กดปุ่มสีน้ำเงิน "เลือกสิน้คา" เพื่องเลือกสินค้า</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step1-2.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เมื่อเลือกสินค้าเสร็จแล้ว คลิกปุ่มสีน้ำเงิน "จ่ายเงิน" เพื่อไปสู่ในส่วนของการชำระเงิน</div>
	</div>
	<h2>ขั้นตอนที่ 2 - ชำระค่าสินค้า</h2>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step2-1.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เพื่อชำระเงิน คุณต้องเข้าสู่ระบบก่อน หากคุณยังไม่มีบัญชี แล้ะ ไม่ต้องการสมัครสมาชิค คุณสามารถเข้าสู่ระบบ โดยคลิกปุ่มยืนยันสีน้ำเงินบริเวณกลางหน้าจอ ระบบจะสร้างบัญชีชั่วคราวเพื่อให้คุณ สามารถชำระค่าสินค้าได้</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step2-2.png", class: "img-responsive")%></div>
		<div class="col-sm-6">กรอกที่อยู่ของท่าน เพื่อการจัดส่งสินค้า</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step2-3.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เลือกรูปแบบการจัดส่ง</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step2-4.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เลือกวิธีการชำระเงิน และ ตรวจสอบข้อมูลเป็นครั้งสุดท้าย ถ้ามีขอมูลส่วนหนึ่ง ส่วนใดไม่ถูกต้อง คุณสามารถย้อนกลัยไปแก้ไข และ เริ่มขั้นตอนใหม่อีกครั้ง</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step2-5.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เมื่อยืนยันคำสั่งซื้อเรียบร้อยแล้ว คุณจะเห็นขอความ "คำสั่งซื้อเสร็จสมบูรณ์" ในกรณีที่ลูกค้าเลือกเข้าสู่ระบบแบบชั่วคราว กล่องสีแดงจะแสดงขึ้นพร้อมลายละเอียดต่างๆ ของบัญชีแบบชั่วคราว ขอให้คุณอ่านอย่างถี่ถ้วนเพื่อประโยชน์ และ ความสะดวกในการใช้งานต่อไป</div>
	</div>
	<h2>ขั้นตอนที่ 3 - รอรับสินค้า</h2>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step3-1.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เข้าสู่ระบบ แล้วเลือกเข้าสู่ ลายละเอียดของบัญชี</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step3-2.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เมื่อสินค้าของท่านถูกจัดส่งแล้ว รหัสพัสดุจะปรากฏขึ้น ดังในตัวอย่าง</div>
	</div>
	<h2>ขั้นตอนพิเศษ - การแจ้งโอน</h2>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step4-1.png", class: "img-responsive")%></div>
		<div class="col-sm-6">เข้าสู่ระบบ แล้วเลือกเข้าสู่ ลายละเอียดของบัญชี</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step4-2.png", class: "img-responsive")%></div>
		<div class="col-sm-6">คลิกแจ้งโอน</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step4-3.png", class: "img-responsive")%></div>
		<div class="col-sm-6">กรอกลายละเอียดการโอน อย่างละเอียด</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><%= image_tag("step4-4.png", class: "img-responsive")%></div>
		<div class="col-sm-6">หลังจากทีมงานตรวจสอบการโอนแล้ว หากพบว่าการแจ้งโอนถูกต้อง สถานะของคำสั่งซื้อจะเปลี่ยนเป็น "จ่ายแล้ว" ถือว่าการยืนยันการโอนเสร็จสมบูรณ์</div>
	</div>
</div>