

	<div class="col-sm-12">
		<h1>เงื่อนไข</h1>
		<ol>
			<li>สินค้าซื้อแล้วไม่รับเปลี่ยนหรือคืน</li>
			<li>ในกรณีสินค้ามีตำหนิ หรือ ชำรุด โปรดแจ้งทางร้านภายใน 7 วัน ซึงหากความผิดพลาดเกิดมาจากทางร้าน เรายินดีรับผิดชอบตามความเหมาะ</li>
			<li>สินค้าพร้อมจัดส่ง ภายใน 2 วัน หลักจากทางร้านยืนยันการชำระเงิน</li>
		</ol>
	</div>