
<div class="col-sm-6">
  <h2>คำสั่งซื้อเร็จสมบูรณ์</h2>
  <p>
    รหัสอ้างอิงคือ <span class="order-number"><%= @order.number %></span>
    ขอบคุณที่ใช้บริการ :)
  </p>
</div>
<div class="col-sm-6">
  <h2>คำถามที่พบบ่อย</h2>
  <ul>
    <li>วิธียืนยันการโอนเงิน</li>
    <li>การขอรหัสพัสดุ</li>
    <li>ระยะเวลาในการจัดส่ง</li>
  </ul>
</div>
<% if current_user.is_guest? %>
  <div class="col-sm-6 alert alert-danger">
    อีเมลสำหรับบัญชีชัวคราวของคุณคือ <span class="order-number"><%= params[:email] %></span> และ พาสเวิร์ดคือ <span class="order-number"><%= params[:password]  %></span><br><br>

    คุณสามารถใช้บัญชีนี้ เพื่อแจ้งการโอน และ สั่งสินค้าใหม่ได้<br>

    พาสเวิดร์ดของบัญชีชั่วคราวจะถูกเปลี่ยนทุกครั้งหลังจากมีการสั่งซื้อ<br>
    หากคุณต้องการเก็บบัญชีไว้ถามวร กรุณาเข้าไปแก้ไขข้อมูลส่วนตัว <%= link_to "ที่นี่", edit_myaccount_overview_path()%>
  </div>
<% end %>