<div class="col-sm-6">
  <h2>สรุปรายการสินค้า</h2>
  <table class="table summary">
    <thead>
      <tr>
        <th>สินค้า</th>
        <th>ราคา</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= "#{item.variant.product.name} #{item.variant.name}" %></td>
          <td><%= number_to_currency item.total %></td>
        </tr>
      <% end %>
      <tr>
        <td>รวม</td>
        <td><%= number_to_currency @order.sub_total %></td>
      </tr>
      <tr>
        <td>ค่าส่ง</td><td><%= number_to_currency @order.shipping_charges %></td>
      </tr>
      <% if @order.coupon_amount > 0.0 %>
        <tr>
          <td>คูปอง</td><td><%= number_to_currency @order.coupon_amount %></td>
        </tr>
      <% end %>
      <% if @order.deal_amount && @order.deal_amount > 0.0 %>
        <tr style="color: red;">
          <td>โปรโมชั่น</td><td><%= number_to_currency @order.deal_amount %></td><td></td>
        </tr>
      <% end %>
      <tr class='even'>
        <td>รวมสุทธิ</td><td><%= number_to_currency @order.credited_total %></td>
      </tr>
    </tbody>
  </table>
  <h2>ที่อยู่จัดส่ง</h2>
  <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
  <%= link_to 'เปลี่ยนที่อยู่จัดส่ง', shopping_addresses_path, :class => 'btn btn-default' %>
</div>
<div class="col-sm-6">
  <h2>วิธีการชำระเงิน</h2>
  <%= form_for @order, url: shopping_order_path(@order),
                                  method: :put,
                                  html:  {class: ''},
                                  id:    'purchase_order' do |f| %>
    <div class="fo">
      <label>
        <%= f.radio_button :payment_method, "cash", checked: (@order.payment_method.blank? ? true : "") %>
        โอนเงิน
      </label>
    </div>
    <div class="form-group">
      <%= f.label :comment, "เพิ่มเติม" %>
      <%= f.text_area :comment, class: "form-control" %>
    </div>
    <%= submit_tag 'ยืนยันคำสั่งซื้อ', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>