<div id="test-popup" class="white-popup mfp">
 	<h2>แจ้งการโอน</h2>
 	<%= form_for @tv, url: transfer_verification_myaccount_order_path, html:{class: "client-validate"} do |f |%>
 		<div class="form-group">
 			<%= f.label :name, "ชื่อบัญชี" %>
 			<%= f.text_field :name, class: "required" %>
 		</div>
 		<div class="form-group">
 			<%= f.label :bank_name, "บัญชีธนาคาร" %>
 			<%= f.select :bank_name, YAML.load_file('config/settings.yml')["bank_list"],{},{class: ""} %>
 		</div>
 		<div class="form-group">
 			<%= f.label :amount, "ยอดโอน" %>
 			<%= f.text_field :amount, value: Invoice.find_by_id(@tv.invoice_id).display_amount, class: "required" %>
 		</div>

 		<div class="form-group time-select">
 			<%= f.label :time do %>
 				เวลาโอน
 				<%= f.time_select :time %>
 			<% end %>
 		</div>
 		<%= f.hidden_field :invoice_id %>
 		<div class="form-group time-select">
 			<%= f.submit "ยืนยันการโอน", class: "btn btn-primary btn-lg"%>
 		</div>
 	<% end %>
</div>
<style type="text/css">
	div.time-select select{
		width: 50px;
	}
</style>
<script type="text/javascript">
	$("document").ready(function(){
		clientValidate()
	})
</script>