

<div class='col-sm-6'>
  <h2>วิธีการจัดส่ง</h2>
  <%= form_tag(shopping_shipping_method_path(session_order.id), html: {class: 'custom'}, method: :put) do -%>
    <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
      <ul class='ten large-10 side-nav'>
        <% items.first.shipping_rate_options(session_order.sub_total).each_with_index do |rate, i| %>
          <li><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id, selected: (i == 0 ? true : false )%> <%= rate.name_with_rate %></li>
        <% end %>
      </ul>
    <% end %>
    <div class='ten large-10 clearfix offset-by-two'>
      <%= submit_tag 'ไปต่อ', :class => 'btn btn-primary btn-lg' %>
    </div>

  <% end %>
</div>



