.upper_left_overlay {
  position:absolute;
  left:0px;
  top:0px;
}

ul#interesting_items-list {
  text-align: left;
  padding-left: 0px;
  margin-left:0px;

  li {
    display:inline-block;
    height:100%;

    .interesting_items-details {
      text-align: center;
      font-size: 18px;
      min-height: 48px;
      padding: 15px;
      .info{
        font-size: 18px;
        min-height: 50px;
        strike{
          font-size: 18px;
        }
        span{
          font-size: 18px;
        }
      }

    }
    .interesting_items-image {
      position: relative;
      text-align:center;


      &:hover {
        .hover-details {
          display: none;
        }
      }
      .no-hover-show {

        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .hover-details {
        color:#FFF;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        .bottom-hover-details {
          text-align: right;
          height: auto;
          font-weight: bolder;
          font-size:24px;
          width:100%;
          position: absolute;
          background: rgba(47, 47, 47, 0.4);
          bottom: 0;
          margin-bottom: 0px;
        }
      }
    }

  }
}

div {
  color: #3F3D42;
  #featured_description {
    font-family: Economica, san-serif;
    line-height: 1.3;
    font-size: 22px;
    color: #5F5D62;
  }
}
#featured_image {
  padding-bottom:7px;
}