form{
	label{
		font-size: 18px;
	}
	select.form-control{
		border: 0px;
		border-bottom: 1px solid;
		background: none;
		border-radius: 0px;
		box-shadow: none;
	}
}
form{
	label.error{
		color: red;
	}
	input.required.error, select.required.error{
		border: 1px solid red;
	}
}

form div textarea.form-control {
	box-shadow: none;
	border-radius: 0px;
	min-height: 100px;
}