nav.navbar.navbar-default {
	font-size: 24px;
	background: none;
	border: 0px;
	border-bottom: 1px black dotted;
	border-radius: 0px;
	ul.dropdown-menu {
		box-shadow: none;
		border-radius: 0px;
		a{
			font-size: 18px;
		}
	}
	a.navbar-brand{
		font-size: 24px;
	}
}


input.form-control[type=text], input.form-control[type=password], input.form-control[type=email] {
	box-shadow: none;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid;
}
.btn {
	border: 1px solid;
	border-radius: 0px !important;
}


ul.dropdown-menu-child{
	li{
		a{
			font-size: 18px;	
			color: black;
			text-decoration: none;
		}
		a:hover{
			border-bottom: 1px solid;
		}
	}
}
.breadcrumbs{
	margin-bottom: 15px;
	div{
		font-size: 16px;
	}
	
	a{
		font-size: 16px;
	}
}
div.row.top{
	padding: 15px 0px;
}