table.overview-order{
	tr, td, th{
		font-size: 16px;
		a{
			font-size: 16px;
		}
	}
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.verify-transfer.active{
	color: green;
}