.interesting_product{
	margin-bottom: 15px;
}
.product-right{
	border-left: 1px dotted;
}
a.heart{
	color: gainsboro;
}
a.heart:focus{
	color: gainsboro;
}
a.heart.active{
	color: red;
}
a.heart:hover{
	color: red;
}
.pagination{
	font-size: 16px;
	a{
		font-size: 16px;
		color: black;
	}
	a.hover{
		color: black !important;
	}
	span{
		font-size: 16px;
	}
	em{
		font-size: 16px;
	}
}