
<% content_for :head do -%>
  <%= stylesheet_link_tag 'product_page.css' %>
  <%= stylesheet_link_tag 'pikachoose_product.css' %>
<% end %>
<div class="col-sm-6 product-left">
    <ul class="bxslider media-list", style="margin: 0px;">
      <% @product.images.each do |image|%>
        <li>
          <div class="easyzoom easyzoom--overlay">
            <%= link_to image.photo.url(:original) do %>
              <%= image_tag(image.photo.url(:large), class: "img-responsive") %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <div id="bx-pager" class="row">
      <% @product.images.each_with_index do |image,index|%>
        <div class="col-xs-3" style="margin-top: 15px;">
          <a data-slide-index="<%= index %>" href="">
            <%= image_tag(image.photo.url(:large), class: "img-responsive") %>
          </a>
        </div>
      <% end %>
    </div>
</div>
<div class="col-sm-6 product-right">
  <h1 class='product_title_name'><%= @product.name %></h1>
  <%= render partial: "shared/like_product", locals: {product: @product} %>
  <h3 class='product_content_price'>
    <% variant = @product.active_variants.first %>
    <%= show_variant_price(variant) %>
  </h3>
  <div class="content">
    <strong>ลายละเอียด</strong>
    <div><%= raw @product.description %></div>
  </div>
  <div>
    <table class="table variant-property">
      <% @product.active_variants.each_with_index do |var, i| %>
        <% var.variant_properties.each do |prop| %>
          <tr class="variant_<%= var.id %> <%= i != 0 ? 'hidden' : '' %>">
            <td><%= prop.property_name %></td>
            <td><%= prop.description %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div>
    <% @product.active_variants.each_with_index do |variant, i| %>
      <div id='variant_<%= variant.id %>'
           class='variant_select <%= 'selected_variant' if i == 0 %>'
           data-variant_id='<%= variant.id %>'
           style="display: inline-block;">
        <button class="btn btn-default btn-lg"><%= raw variant.product_name %></button>
      </div>
    <% end %>
  </div>
  <div>
    <%= form_for  @cart_item,
              :url  => shopping_cart_items_path(@cart_item),
              :html => { :id => 'new_cart_item', :class => 'custom form' } do |f| %>
      <%= f.hidden_field :variant_id %>
      <%= f.hidden_field :quantity, value: 1 %>
      <div class='form-group '>
        <% unless @product.active_variants.empty? %>
          <%= link_to 'เลือกสินค้า', '#', :id => 'submit_add_to_cart', :class => 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="comments">
    <%= render "comments/index"%>
  </div>
</div>

<% content_for :below_body do -%>
  <%= javascript_include_tag 'shopping/cart.js' %>
  <%= javascript_include_tag 'jquery.jcarousel.js' %>
  <%= javascript_include_tag 'jquery.pikachoose.full.js' %>
  <%= javascript_include_tag 'product_page.js' %>
<% end %>