<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited you from logging in:</h2>

    <ul>
    <% @user_session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation" class='error'>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="col-sm-4">
  <h2>เข้าสู่ระบบ</h2>
  <%= form_for  @user_session, :as => :user_session,
              :url => user_sessions_path(@user_session),
              :html => {:class => 'client-validate'} do |form| %>
    <div class="form-group">
        <%= form.label :email, 'อีเมล' %>
        <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off', class: "form-control required" %>
    </div>
    <div class="form-group">
        <%= form.label :password, 'พาสเวิร์ด' %>
        <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off', class: "form-control required" %>
    </div>
    <%= form.submit "ยืนยัน", :class => 'btn btn-primary btn-lg' %>
  <% end %>
<!--   <br>
  <p>
    <small><%= link_to 'ลืมรหัส?', new_customer_password_reset_path() %></small>
  </p> -->
</div>
<div class="col-sm-4">
  <h2>เข้าสู่ระบบโดยไม่สมัครสมาชิค</h2>
  <%= form_for  @user_session, :as => :user_session,
              :url => user_sessions_path(@user_session),
              :html => {:class => 'span-12 custom'} do |form| %>
    <%= form.hidden_field :email, value: "guest" %>            
    <%= form.submit "ยืนยัน", :class => 'btn btn-primary btn-lg' %>
  <% end %>
</div>
<div class="col-sm-4">
  <h2>สมัครสมาชิค</h2>
  <%= form_for @user, url: customer_registrations_path(@user), html: {class: 'client-validate'}  do |form| %>
    <%= render partial: "myaccount/overviews/form", locals: {user: @user, f: form} %>
  <% end %>
</div>
