  <% if @shopping_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>

      <ul>
      <% @shopping_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
         <%= f.label :first_name, "ชื่อ" %>
         <%= f.text_field :first_name, :class => 'form-control required' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, "นามสกุล" %>
        <%= f.text_field :last_name, :class => 'form-control required' %>
      </div>



        <div class="form-group">
          <%= f.label :address1, "ที่อยู่" %>
          <%= f.text_field :address1, :class => 'form-control required' %>
        </div>




        <div class="form-group">
          <%= f.label :city, "จังหวัด" %>
          <%= f.text_field :city, :class => 'form-control required' %>
        </div>


        <div class="form-group">
          <%= f.label    :country_id, "ประเทศ" %>
          <%= f.select   :country_id, select_countries,
                         {:include_blank => false},
                         {:class => "form-control required no-custom"} %>
        </div>

        <div class="form-group">
          <%= f.label :zip_code, "รหัสไปรษณีย์" %>
          <%= f.text_field :zip_code, :class => 'form-control required' %>
        </div>

        <div class="form-group">
          <%= f.label :contact_number, "เบอร์ติดต่อ" %>
          <%= f.text_field :contact_number, :class => 'form-control required' %>
        </div>



  <div class="form-group">
    <label>
      เลือกให้เป็นที่อยู่จัดส่งประจำ <%= f.check_box :default, :class => 'columns' %>
      
    </label>
  </div>

  <div class="form-group">
    <%= f.submit 'บันทึก', :class => 'btn btn-primary btn-lg' %>
  </div>
