<div class="col-sm-4">
	<h2>แก้ไขที่อยู่</h2>

	<%= form_for(@form_address, url: shopping_address_path(@form_address), html: {class: 'custom client-validate'}) do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
	<div>
		<%= link_to 'กลับ', shopping_addresses_path, class: 'btn btn-default btn-lg' %>
	</div>
</div>


