
  <div class="col-sm-6">
    <h2>เลือกที่อยู่เดิม</h2>
    <% @shopping_addresses.each do |shopping_address| %>
      <% @buttom_group = true%>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => shopping_address} %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2>เพิ่มที่อยู่ใหม่</h2>
    <%= form_for @shopping_address, url: shopping_addresses_path, html: {class: 'form client-validate'} do |address_form| %>
      <%= render :partial =>  'form', :locals => {:f => address_form}  %>
    <% end %>
  </div>