<div class="form-group">
  <%= f.label :first_name, "ชื่อ" %>
  <%= f.text_field :first_name, :placeholder => "ชื่อ", class: "required form-control" %>
</div>
<div class="form-group">
  <%= f.label :last_name, "นามสกุล" %>
  <%= f.text_field :last_name, :placeholder => "นามสกุล", class: "required form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, "อีเมล" %>
  <%= f.text_field :email, :placeholder => "อีเมล", class: "required form-control" %>
</div>
<div class="divider"></div>
<div class="form-group">
  <%= f.label :password, "พาสเวิร์ด" %>
  <%= f.password_field :password, :placeholder => "พาสเวิร์ด", class: "required form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, "ยืนยันพาสเวิร์ด (กรอกพาสเวิร์ดอีกรอบให้ตรงกับด้านบน)" %>
  <%= f.password_field :password_confirmation, :placeholder => "ยืนยันพาสเวิร์ด", class: "required form-control" %>
</div>
<div class="form-group">
  <%= f.submit 'ยืนยีน' , :class => 'btn btn-default btn-lg' %>
</div>
