<div class="col-sm-6">
	<h2>แก้ไขข้อมูลส่วนตัว</h2>
	<%= form_for current_user, :url => myaccount_overview_path, :method => 'PUT', html: {class: "client-validate"} do |f| %>
    <%=  render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>