<div class="col-sm-4">
  <h2>ข้อมูลส่วนตัว</h2>
  <p>
    <strong>อีเมล</strong> <%= current_user.email %>
  </p>
  <div>
    <%= link_to "แก้ไขข้อมูล", edit_myaccount_overview_path(), class: "btn btn-default btn-lg" %>
  </div>
</div>
<div class="col-sm-8">
  <h2>ประวัติการสั่งซื้อ</h2>
  <table class="table overview-order">
    <thead>
      <tr>
        <th>รหัส</th>
        <th>ยอดสั่งซื้อ</th>
        <th>สถานะ</th>
        <th>รหัสพัสดุ</th>
        <th>วันที่</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><span class="order-number"><%= order.number %></span></td>
          <td><%= number_to_currency( order.first_invoice_amount ) %></td>
          <td><%= t("#{order.status}") %></td>
          <td>
            <% if order.shipments.present? %>
              <%= order.shipments.first.tracking %>
            <% end %>
          </td>
          <td><%= order.display_completed_at %></td>
          <td><%= link_to "แจ้งโอน", new_transfer_verification_myaccount_order_path(order.id), class: order.invoices.any? {|i| i.transfer_detail.present?}? "verify-transfer active" : "verify-transfer", id: "#popup" if order.payment_method == "cash" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>