<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <%= render "shared/head"%>
  <%= javascript_include_tag 'application' %>
</head>
<body >
  <div id='body_wrapper'>
    <div id="header" class="container">
      <div class="row">
      <%= render partial: "/shared/header" %>
      </div>
      <div class="row">
        <%= render partial: "/shared/nav_bar" %>
      </div>
      <div class="row breadcrumbs">
        <div class="col-xs-12">
          <%= render_breadcrumbs :separator => ' / ' %>
        </div>
      </div>
      <% if notice || alert %>
        <div class="row">
          <% if notice || alert %>
            <div class="flash_messages">
              <%= raw "<div data-alert class='alert alert-warning'> #{notice} <a href='' class='close'>&times;</a></div>"  if notice %>
              <%= raw "<div data-alert class='alert alert-danger'>#{alert} <a href='' class='close'>&times;</a></div>"     if alert %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <div id='content_wrapper' class='row <%= "myaccount" if myaccount_tab %> '>
        <%  if myaccount_tab %>
          <h1 style='text-align:center;'><%= site_name %></h1>
          <hr class="first_double_hr">
          <hr class="second_double_hr">
          <%= render :partial => '/shared/myaccount_subheader' %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/main_footer' %>
  <%= yield :bottom %>
  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );
  </script>

</body>
<%= yield :below_body %>
</html>
